.wrapper {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  transition: all 0.3s ease 0s;

  .object {
    background-color: grey;
    width: 100px;
    height: 100px;

    margin-left: 250px;
    margin-top: 250px;
  }

  &.active {
    border: 1px solid green;
  }
}
.timer {
  font-size: 30px;
  color: white;
}

.button {
  width: 200px;
  height: 50px;
  background-color: grey;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
